@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap')

$font-stack: 'Poppins', sans-serif

$font-size-small: 13px
$font-size-regular: 32px
$font-size-large: 106px

$color-purple: #854DFF
$color-light-red: #FF5757
$color-white: #FFFFFF
$color-off-white: #F0F0F0
$color-light-gray: #DBDBDB
$color-smokey-gray: #716F6F
$color-off-black: #141414

body
    font: 100% $font-stack
    background: $color-white