@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&family=Space+Mono&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  background: #F0F0F0;
  color: #141414;
  height: 100vh;
  width: 98vw;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container {
  width: 820px;
  height: 590px;
  background: #FFFFFF;
  padding: 44px 54px;
  border-radius: 25px 25px 200px 25px;
}
.container .input {
  display: flex;
  gap: 35px;
}
.container .input .input-field {
  display: flex;
  flex-direction: column;
  position: relative;
}
.container .input .input-field label {
  color: #716F6F;
  margin-bottom: 5px;
  font-size: 13px;
  letter-spacing: 2.6px;
}
.container .input .input-field input {
  height: 65px;
  width: 143px;
  padding: 0 14px;
  border-radius: 7px;
  border: 1px solid #DBDBDB !important;
  font-size: 32px;
  font-weight: 700 !important;
  transition: all 0.25s ease-in-out;
  outline: none;
}
.container .input .input-field input:hover {
  cursor: pointer;
  border: 1px solid #854DFF !important;
}
.container .input .input-field input:focus {
  cursor: text;
  caret-color: #854DFF;
  border: 2px solid #854DFF !important;
  transition: none;
}
.container .input .input-field input::-moz-placeholder {
  color: #716F6F;
}
.container .input .input-field input::placeholder {
  color: #716F6F;
}
.container .input .input-field .alert {
  position: absolute;
  top: 100%;
  left: 0;
  color: #FF5757;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
}
.container .submit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.container .submit #submit-divider {
  border-left: 1px solid #DBDBDB;
  height: 1px;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.container .submit #submit-btn {
  border: none;
  border-radius: 50px;
  height: 87px;
  width: 87px;
  outline: none;
  background: #854DFF;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  z-index: 2;
}
.container .submit #submit-btn #submit-img {
  width: 52px;
  height: 50px;
}
.container .submit #submit-btn:hover {
  background: #141414;
}
.container .result {
  font-style: italic;
  font-weight: 800;
  font-size: 106px;
}
.container .result .result-text {
  margin: 0;
  line-height: 100%;
}
.container .result .result-text .result-data {
  color: #854DFF;
}

footer {
  position: absolute;
  top: 100%;
  font-size: 12px;
}
footer .attribution a {
  color: #854DFF;
}
footer .attribution code {
  font-family: "Space Mono", monospace;
}

@media only screen and (max-width: 590px) {
  body {
    font-size: 19px;
    width: 97vw;
    display: flex;
  }
  .container {
    width: auto;
    height: auto;
    padding: 42px 21px;
    margin: 0 6px;
    border-radius: 20px 20px 100px 20px;
  }
  .container .input {
    gap: 14px;
  }
  .container .input .input-field input {
    width: 97px;
    height: 50px;
    font-size: 19px;
  }
  .container .input .input-field .alert {
    position: relative;
    width: 68px;
    top: 0;
    font-size: 11px;
  }
  .container .submit #submit-btn {
    height: 71px;
    width: 71px;
    margin: 50px;
  }
  .container .submit #submit-btn #submit-img {
    width: 42px;
    height: 40px;
  }
  .container .result {
    font-size: 57px;
  }
}
@media only screen and (max-width: 375px) {
  .container .input {
    display: flex;
    justify-content: center;
  }
  .container .input .input-field input {
    font-size: 19px;
  }
  .container .submit {
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */